{erl_opts,
    [
        debug_info,
        warnings_as_errors,
        {parse_transform, lager_transform},
        {validate_app_modules, true},
        {minimum_otp_vsn, "21.3"}
    ]
}.


{deps,
    [
        {lager,     {git, "https://github.com/erlang-lager/lager.git",  {tag, "3.8.0"}}}
    ]
}.



{shell, [
    {config, "config/sys.config"},
    {apps, [logger_test]}
]}.
