[
    {logger_test, []},

    {lager, [
        {handlers, [
            {lager_file_backend, [{file, "/var/log/logger_test/lager.erl.log"},
                {level, info}, {formatter, lager_default_formatter}, {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", message, "\n"]}]}
        ]}
    ]},


    {kernel, [
        {logger_level, debug},
        {logger,
            [
                {handler, disk_log, logger_disk_log_h, #{config => #{file => "/var/log/logger_test/logger.erl.log" }}}
            ]
        }
    ]
    }

].
